@import url("https://fonts.googleapis.com/css2?family=Alata&family=Roboto");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
  box-sizing: border-box;
  background-color: rgb(245, 245, 245);
  font-family: "Alata";
  display: grid;
  place-items: center;
}

.container {
  display: grid;
  place-items: center;
  width: 100%;
  max-width: 90%;
}

#web-scraper-form {
  display: grid;

  color: grey;
  text-align: center;
}

#web-scraper-form input[type="text"],
input[type="url"] {
  padding: 0.5em;
  margin: 2em;
}

.g-recaptcha {
  margin: auto;
}

.submit-button {
  width: 45%;
  margin: 1em auto;
  background: #2995f3;
  padding: 0.7em;
  color: white;
  border: 2px solid black;
}

#results-container {
  border: 1px solid black;
  padding: 2em 3em;

  text-align: center;
}

.valid {
  color: greenyellow;
}

.invalid {
  color: red;
}
